@import url("https://fonts.googleapis.com/css2?family=Asap&family=Saira:wght@500&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background: #EEE2DC;
  font-family: 'Asap', sans-serif;
  color: #123C69;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  width: 100%;
  height: calc(100vh - 150px);
}

footer {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 20px;
  font-size: small;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Saira', sans-serif;
  text-align: center;
  margin: 0;
}

h3 {
  margin-bottom: 10px;
  border-bottom: 2px solid #2b5876;
  padding: 5px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

form input {
  width: 100%;
  background-color: lightgrey;
  border: none;
  height: 40px;
  margin: 10px 0;
  padding: 0 10px;
  border-radius: 10px;
}

button {
  margin: 10px 0;
  background-color: #AC3B61;
  border: none;
  border-radius: 10px;
  height: 40px;
  color: white;
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.wrapper {
  max-width: 1300px;
}

.landing .input-container {
  width: 100%;
}

.landing .url-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: white;
  color: black;
  border-radius: 10px;
  min-width: 500px;
}

@media (max-width: 650px) {
  .landing .url-container {
    min-width: 100px;
    width: 320px;
  }
}

.landing .url-container .button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing .url-container .button-container button {
  width: 46%;
}

.landing .url-container p {
  font-weight: bold;
}

.landing .url-container .url {
  width: 100%;
  margin: 10px 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1300px;
}

@media (max-width: 650px) {
  .room {
    min-width: 100px;
    width: 320px;
  }
}

.room .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .room .main-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.room .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

.room .chat-toggle, .room .note-toggle, .room .toDo-toggle {
  width: 70px;
  margin-right: 10px;
}

.room .chat-toggle:hover, .room .chat-toggle:focus, .room .note-toggle:hover, .room .note-toggle:focus, .room .toDo-toggle:hover, .room .toDo-toggle:focus {
  opacity: 0.7;
  cursor: pointer;
}

.room .chat, .room .note {
  width: 30%;
  height: 400px;
}

@media (max-width: 900px) {
  .room .chat, .room .note {
    display: none;
  }
}

.room .chat {
  color: black;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
}

@media (max-width: 900px) {
  .room .chat {
    width: 400px;
  }
}

@media (max-width: 650px) {
  .room .chat {
    width: 100%;
  }
}

.room .chat .message-container-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 180px;
  overflow-y: auto;
}

.room .chat .message-container-screen .follow-button {
  display: none;
}

.room .chat .message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
}

.room .chat .message-container .message-box {
  margin: 0 5px;
}

.room .chat .justifyEnd {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.room .chat .message-text {
  padding: 5px;
  border-radius: 5px;
  color: #EEE2DC;
  background-color: #123C69;
  width: auto;
}

.room .chat .textContainer {
  height: 100px;
}

.room .chat .chat-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

.room .chat .chat-form button {
  margin-left: 5px;
}

.room .chat .users-container .active-users-container > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
}

.room .chat .users-container .active-users-container > p div {
  margin: 3px;
}

.room .to-do-list-container {
  width: 40%;
}

@media (max-width: 900px) {
  .room .to-do-list-container {
    width: 400px;
  }
}

@media (max-width: 650px) {
  .room .to-do-list-container {
    width: 100%;
  }
}

.room .to-do-list-container ul {
  position: relative;
  padding: 20px;
  margin: 0 20px;
  background-color: white;
  list-style: none;
  border-radius: 10px;
  color: #2b5876;
  max-height: 270px;
  overflow-y: auto;
}

@media (max-width: 650px) {
  .room .to-do-list-container ul {
    max-height: 50vh;
  }
}

.room .to-do-list-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.room .to-do-list-container ul li .list-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room .to-do-list-container ul li .list-container p {
  width: 90%;
  word-wrap: break-word;
}

.room .to-do-list-container ul li .toggle-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  width: 20px;
  height: 10px;
  border-radius: 5%;
  font-size: 30px;
  border: none;
  background-color: white;
  color: #d00a2b;
  font-weight: bold;
  text-align: center;
  margin-right: 5px;
}

.room .to-do-list-container ul li input {
  width: 20px;
  height: 20px;
  justify-items: flex-end;
}

.room .to-do-list-container .add-to-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.room .to-do-list-container .add-to-do form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.room .to-do-list-container .add-to-do form input {
  width: 70%;
  height: 50px;
  background-color: lightgray;
  border: none;
  padding: 0 10px;
  margin-right: 10px;
}

.room .to-do-list-container .add-to-do form button {
  width: 30%;
  height: 50px;
}

.room .note {
  background-color: #BAB2B5;
  margin: 20px;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .room .note {
    width: 400px;
  }
}

@media (max-width: 650px) {
  .room .note {
    width: 100%;
  }
}

.room .note form {
  height: 70%;
}

.room .note .text-area {
  width: 100%;
  height: 100%;
}

.room .to-do-complete {
  position: absolute;
  right: 10px;
  width: 100px;
  color: #0A9928;
  border: 5px solid #0A9928;
  -webkit-mask-position: 13rem 6rem;
  -webkit-transform: rotate(14deg);
          transform: rotate(14deg);
  border-radius: 0;
  font-weight: bold;
}

.password {
  width: 30%;
}

@media (max-width: 900px) {
  .password {
    width: 250px;
  }
}

.password .password-container {
  width: 100%;
  background-color: lightgrey;
  border: none;
  height: 50px;
  margin: 10px 0;
  padding: 0 10px;
}

.list-done {
  color: green !important;
}

.font-circle:hover, .font-circle:focus {
  cursor: pointer;
}

.to-do-complete {
  display: block;
}
/*# sourceMappingURL=App.css.map */